body {
  background-color: #000000;
}

h1 {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3522c8;
  font-size: 100px;
}

footer{
  position: relative;
  color: antiquewhite;
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}